In [13]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

In [ ]:
/network/scratch/s/sara.ebrahim-elkafrawy/observations/

In [14]:
root = Path(os.environ["SLURM_TMPDIR"])

In [15]:
subset_file_suffix="train"

In [16]:
df_fr = pd.read_csv(
            root
            / "observations"
            / "observations_fr_{}.csv".format(subset_file_suffix),
            sep=";",
            index_col="observation_id",
        )
df_us = pd.read_csv(
    root
    / "observations"
    / "observations_us_{}.csv".format(subset_file_suffix),
    sep=";",
    index_col="observation_id",
)


df = pd.concat((df_fr, df_us))

In [19]:
df[df["subset"]=="val"]

                 latitude   longitude  species_id subset
observation_id
10297014        46.927032    4.798213          11    val
10610548        46.865562    4.914852         467    val
10545927        43.972557    4.904952         364    val
10267693        44.429108    4.179069         805    val
10158346        47.187496   -0.312558         348    val
...                   ...         ...         ...    ...
22067622        45.026695  -92.752960       10776    val
22067688        41.520172  -92.077644        4999    val
22068163        37.211212 -120.842026        5687    val
22068165        30.891344  -97.712180        4917    val
22068174        37.206974 -122.067154        5309    val

[40080 rows x 4 columns]

In [ ]:
[]